<header class="{{ header_class }}" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if logo %}
                <a href="{% url 'home' %}"
                   class="logo__white navbar-brand">meeple{% include "snippets/logo.jinja" with width='30px' height='30px' %}PI</a>
            {% endif %}
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'api-v1:root:root' %}">API</a>
                </li>
                <li>
                    <a href="{% url 'docs' %}">Documentation</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
