{% extends "base.jinja" %}

{% block title %}Page Not found{% endblock %}
{% block body_id %}not-found{% endblock %}
{% block body_class %}not-found-page{% endblock %}
{% block content %}
{% include "units/header.jinja" with header_class='navbar navbar-inverse normal' logo=True %}
    <div class="info">
		<h1>404</h1>
		<p>The page you're looking for doesn't exist.</p>

		<p class="go-back">
			Please continue to our <a href="{% url 'home' %}">Home page</a>.
		</p>
	</div>
	<div id="container">
	</div>
{% endblock %}
